<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>

</head>
<body>
<div>
    <%include partials/template/header.ejs %>
</div>
<div>

    <% include partials/content/home.ejs %>
</div>
<div>

    <% include partials/template/footer.ejs %>
</div>
</body>
</html>