<!DOCTYPE html>
<html>
<head>
    <% include partials/template/head.ejs %>
</head>
<body bg-color="gray" height="50%">
<div>

    <% include partials/template/header.ejs %>
</div>
<div>


</div>

<div>
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>

</div>
</body>
</html>
