<nav class="nav navbar-inverse navbar-fixed-top" role="navigation">
<div class="container-fluid">
    <ul class="nav navbar-nav">
        <li role="presentation" class="active"><a href="/login">Upload a beat</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

        <li role="presentation"> <a href="/"><b>Pick a Producer</b></a></li>

        <li role="presentation"><a href="/"><b>Pick a Beat</b></a></li>
        <li role="presentation"><a href="/"><b>Mostly Viewed</b></a></li>
            </ul>

    </a>
</div>

</nav>

