<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <section class="carousel-inner">

        <div class="active item" >
            <img src="/picha/studio1.jpg" width="100%">
            <div class="carousel-caption">
                <h1 color="blue">Wanna Sell or Buy a Beat ??</h1>
                <h1>Unataka kuuza au kununua Biti ??</h1>
            </div></div>
        <div class="item">
            <img src="/picha/studio2.jpg" width="50%">
        </div>
        <div class="item">
            <img src="/picha/studio3.jpg" width="100%">
        </div>
        <div class="item">
            <img src="/picha/studio4.jpg" width="100%">
        </div>
    </section>
    <a href="#myCarousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

</div>